.h-1 {
  &--main {
    font-size: 5rem;
    line-height: 1.1em;
    font-weight: 700;
    font-family: 'Raleway', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
    color: $text-dark;
  }
}

.h-2 {
  font-family: 'Raleway', system-ui, BlinkMacSystemFont, 'Segoe UI';
  font-size: 3rem !important;
  color: $color-pry;
  font-weight: 700;
}

.parag {
  display: block;
  line-height: 1.7em;
  max-width: 70ch;
  font-weight: normal;
  color: $text-color;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial;
}
