.section {
  padding-block: 9rem;
  padding-bottom: 12rem;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  // align-items: start;

  .getInTouch {
    border-left: 1px solid #adadad;
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;

    .getInTouch {
      border-left: none;
      padding: 0 !important;
    }
  }

  & > *:last-child > *:last-child {
    @media screen and (max-width: 56.25em) {
      flex-direction: column;

      & button {
        order: 3;
        flex-grow: 1;
        width: 100%;
      }
    }
  }
}
