.section {
  padding-block: 9rem;
  padding-bottom: 15rem;
}

.startups {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.5rem;

  @media screen and (min-width: 767px) and (max-width: 990px) {
    grid-template-columns: 1fr 1fr;
  }
}

.startup {
  padding-top: 7px;
  border: 1px solid #d3d3d3;
  box-shadow: 0 1px 7px rgba(#000, 0.17);

  & > figure {
    width: calc(100% - 14px);
    height: 10rem;
    display: grid;
    place-items: center;
    // border-radius: 50px;

    & > img {
      width: 60%;
    }
  }

  & button {
    border-radius: 999px;
  }
}
