.nav {
  position: relative;
  z-index: 3;
  background-color: #faf6ff;

  &-logo {
    display: block;
    transform: translateX(-10px);
  }

  &-auth {
    @media screen and (max-width: 768px) {
      display: none !important;
    }
  }

  &-breadcrumb {
    all: unset;
    display: none;

    @media screen and (max-width: 768px) {
      display: block;
    }
  }
}
